
span.an {text-decoration:underline;}

.BioLexicon{color:black;background:lightgreen;}
.Abbreviation{color:black;background:green;}
.BioEntityMention{color:white;background:mediumpurple;}
.Protein{color:black;background:yellow;}
.CellType{color:black;background:cyan;}
.Concentration{color:black;background:salmon;}
.Measure{color:black;background:yellow;}
.CellTypeProteinConcentration{color:black;background:tan;}
.Verb{color:black;background:salmon;}
.BioVerb{color:black;background:salmon;}
.POS{color:black;background:salmon;}
.Age{color:black;background:yellow;}
.Cell{border-bottom:2px solid cyan;}
.Organism{border-bottom:2px solid green;}
.Region{border-bottom:2px solid pink;}
.Sex{color:black;background:blue;}
.Subcell{border-bottom:2px solid red;}
.Uniprot{color:black;background:brown;}
.Theontology{color:black;background:lightblue;}
.LinnaeusSpecies{border-bottom:2px solid red;}
.Chemical{border-bottom:2px solid red;}
.Verb{color:black;background:lightred;}
.Protein{color:black;background:orange;}
.Punctuation{color:black;background:orange;}
.BrainRegion{color:black;background:orange;}
.BrainRegionDictTerm{color:black;background:orange;}

.SurfaceForm{border-bottom:2px solid blue;}
